/* Estilo geral da página */
body {
    background-color: blue;
    font-family: Arial, sans-serif;
}

/* Selecionando pelo ID */
#ficha-personagem {
    background-color: turquoise;
    width: 450px;
    height: 800px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

/* Selecionando pela CLASS */
.titulo {
    color: darkred;
}

/* Outra CLASS */
.imagem-personagem {
    width: 200px;
    height: auto;
    border-radius: 15px;
}

/* CLASS para seções */
.info {
    margin-top: 20px;
    text-align: center;
}

.info p {
    margin: 5px auto;
}

.atributos {
    margin-top: 20px;
    text-align: center;
}

/* Estilizando lista */
ul {
    padding-left: 20px;
    list-style-type: none;
}

ul li {
    margin: 5px auto;
}